:root {
    --primary-color: #f5926e;   /*muted peach*/
    --secondary-color: #cd7150; /*dark coral*/
    --font-color: #051a2a;      /*dark navy*/
    --heading-color: #8067d8;   /*vibrant lavender*/
    --bg-color: white;          /*white*/
}

[data-theme="dark"] {
    --primary-color: #cd7150;   /*dark coral*/
    --secondary-color: #f5926e; /*muted peach*/
    --font-color: white;        /*white*/
    --heading-color: #8067d8;   /*vibrant lavender*/
    --bg-color: #051a2a;        /*dark navy*/
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: 'Montserrat', sans-serif;
}

footer {
  background-color: var(--heading-color);
  color: var(--font-color);
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

canvas {
    text-align: center;
    margin: auto;
    display: block;
    background-color: #528db7;
}

h1{
    color: var(--primary-color);
    font-size: 50px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: auto;
}

h2{
    color: var(--primary-color);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.e_s {
    color: #f5926e;
}

#start_button {
    background: white;
    width: 250px;
    height: 75px;
    padding: 15px;
    color: #f5926e;
    border-radius: 3em;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline:none;
    margin: auto;
    display: block;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -125px; /* Negative half of width. */
}

#play_again_button {
    background:  #051a2a;
    width: 175px;
    height: 50px;
    padding: 15px;
    color: white;
    border-radius: 3em;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline:none;
    margin: auto;
    display: none;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 75px;
    margin-left: 25px;
}

#home_button {
    background: #051a2a;
    width: 175px;
    height: 50px;
    padding: 15px;
    color: white;
    border-radius: 3em;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline:none;
    margin: auto;
    display: none;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: 75px;
}

#diver1_button {
    background: #051a2a;
    width: 175px;
    height: 50px;
    padding: 15px;
    color: white;
    border-radius: 3em;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline:none;
    margin: auto;
    display: none;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: 75px;
}

#diver2_button {
    background:  #051a2a;
    width: 175px;
    height: 50px;
    padding: 15px;
    color: white;
    border-radius: 3em;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline:none;
    margin: auto;
    display: none;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 75px;
    margin-left: 25px;
}

#end_stats {
    background: white;
    opacity: 0.9;
    width: 500px;
    height: 250px;
    padding: 15px;
    border-radius: 3em;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline:none;
    margin: auto;
    display: none;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -70px;
}

#gameplay_instructions {
    color: var(--font-color);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}